.featured-card-title {

  font: var(--geist-semibold-24-mobile) 'Geist', sans-serif;
  letter-spacing: var(--tracking-24-mobile);
  

  margin: 0 0 16px 0;
  color: var(--color-white);
  text-align: left; 

  @media (min-width: 1024px) {

    font: var(--geist-semibold-38-desktop) 'Geist', sans-serif;
    letter-spacing: var(--tracking-38-desktop);
  }
}

.featured-card {
  /* opacity: 0; */
  display: flex;
  align-items: center;
  gap: 48px;
  background: rgba(58, 58, 58, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 18px;
  padding: 18px;
  width: 100%;
  max-width: 902px;
  margin: 150px auto 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 5;

  transform: translateY(60px); 
  will-change: transform, opacity;
transition: 
    transform 0.6s cubic-bezier(0.16, 1, 0.3, 1), 
    border-color 0.4s ease,
    background-color 0.4s ease;
}

.featured-card:hover {

  transform: translateY(-10px) !important;
  border-color: rgba(255, 255, 255, 0.3);
  background: rgba(70, 70, 70, 0.3); /* Un sutil brillo extra */
}

.card-image {
  flex-shrink: 0;
  width: 450px;
  height: 340px;
  border-radius: 12px;
  overflow: hidden;
  transform-style: preserve-3d; /* necesario para tilt */
  cursor: pointer;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  pointer-events: none;
}

.card-date {
  color: var(--color-light-grey);
  margin-bottom: 12px;
  font-size: var(--geist-semibold-13);
}


.card-tags {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

.card-description {
  font: var(--geist-regular-14-mobile) 'Geist', sans-serif;
  letter-spacing: 0;
  color: var(--color-light-grey);
  margin-bottom: 40px;
  max-width: 340px;

  @media (min-width: 1024px) {
    font: var(--geist-semibold-16-desktop) 'Geist', sans-serif;
    letter-spacing: var(--tracking-16-desktop);
  }
}

.card-link {
  color: var(--color-orange);
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
  display: inline-block;
  width: fit-content;
}

@media (max-width: 768px) {
  .featured-card {
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
    padding: 12px;
  }

  .card-image {
    width: 100%;
    height: 100px;
  }

  .card-title {
    font-size: 26px;
  }
}