*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --color-white: #E6E6E6;
  --color-black: #000000;
  --color-orange: #ff4d00;
  --color-dark-grey: rgba(46, 46, 46, 1)3;
  --color-grey: #666666;
  --color-light-grey:rgba(196, 196, 196, 1);
  --text-hero: 76px;
  --text-hero-mobile: 40px;
  --text-h1: clamp(28px, 4vw, 38px);
  --text-h2: 24px;
  --text-body-lg: 20px;
  --text-body: 16px;
  --text-ui: 16px;
  --text-mono: 14px;
  --geist-semibold-13: 13px;
  --leading-tight: 0.9;
  --leading-normal: 1.3;
  --leading-loose: 1.4;
  --tracking-tight: -0.04em;
  --tracking-mid: -0.03em;
  --tracking-normal: 0em;
  --tracking-mono: -0.01em;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--color-black);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: var(--color-white);
}

.container-main {
  width: 100%;
  max-width: 1372px;
  margin-inline: auto;
  padding-inline: 16px;
  height: 140vh;
}

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hero-bg-image {
  z-index: 0;           /* La mandamos al fondo del todo */
  object-fit: cover;    /* Evita que se deforme */
  object-position: bottom 25%; /* Posición Desktop */
}

/* 👇 Aseguramos que el contenido tenga un z-index mayor */
.nav-wrapper, /* Asegúrate de que tu Navbar tenga esta clase o similar */
.hero-inner,
.h-hero {
  position: relative; 
  z-index: 10;          /* Por encima de la imagen (0) */
}


.h1 {
  font-size: var(--text-h1);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
  font-weight: 600;
}

.h2 {
  font-size: var(--text-h2);
  line-height: 1.1;
  letter-spacing: var(--tracking-mid);
  font-weight: 600;
}

.body-lg {
  font-size: var(--text-body-lg);
  line-height: 1.1;
  letter-spacing: var(--tracking-mid);
}

.body {
  font-size: var(--text-body);
  line-height: var(--leading-normal);
}

.ui {
  font-size: var(--text-ui);
  line-height: var(--leading-normal);
  font-weight: 500;
}

.mono {
  font-family: var(--font-mono);
  font-size: var(--text-mono);
  line-height: var(--leading-loose);
  letter-spacing: var(--tracking-mono);
}

.caption {
  font-size: var(--text-caption);
  line-height: 1;
  font-weight: 600;
}

.h-hero {
  color: var(--color-white);
  font-size: var(--text-hero);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
  font-weight: 600;
  padding-top: 100px;
  /* opacity: 0; */
  position: relative;
  z-index: 2;
}

.line-inner {
  opacity: 0;
  transform: translateY(100px);
  filter: blur(10px);
  will-change: transform, opacity, filter;
}

.h-hero span {
  display: inline-block;
  will-change: transform, opacity;
}

@media (max-width: 768px) {
  :root {
    --text-h1: 24px;
    --text-h2: 20px;
    --text-body-lg: 18px;
    --text-body: 14px;
    --text-ui: 14px;
    --text-mono: 14px;
    --text-caption: 13px;
    --text-hero: 40px;
  }

  .hero {
    background-position: center 276px;
    background-size: 800px auto;
  }

  .h-hero {
    /* width: 80vw; */
    padding-top: 50px;
    /* opacity: 0; */
  }
}