@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}



:root {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --color-white: #E6E6E6;
  --color-black: #000000;
  --color-orange: #ff4d00;
  --color-dark-grey: rgba(46, 46, 46, 1);
  --color-grey: #666666;
  --color-light-grey: rgba(196, 196, 196, 1);
  --text-hero: 76px;
  --text-hero-mobile: 40px;
  --text-h1: clamp(28px, 4vw, 38px);
  --text-h2: 24px;
  --text-body-lg: 20px;
  --text-body: 16px;
  --text-ui: 16px;
  --text-mono: 14px;
  --geist-semibold-13: 13px;
  --leading-tight: 0.9;
  --leading-normal: 1.3;
  --leading-loose: 1.4;
  --tracking-tight: -0.04em;
  --tracking-mid: -0.03em;
  --tracking-normal: 0em;
  --tracking-mono: -0.01em;

  --container-width: 1200px;
  --container-padding: 100px;
}

html,
body {
  height: auto;
  overflow-x: hidden;
}

.container {
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
     max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

body {
  margin: 0;
  background: var(--color-black);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: var(--color-white);
}

.container-main-hero {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 16px;
  position: relative;
  z-index: 2;
}

.hero {
  position: relative;
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-black);
}

.hero-bg-image {
  z-index: 0;
  pointer-events: none;
}

.content-wrapper {
  position: relative;
  z-index: 1;
  background-color: var(--color-black);
}

.h1 {
  font-size: var(--text-h1);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
  font-weight: 600;
}

.h2 {
  font-size: var(--text-h2);
  line-height: 1.1;
  letter-spacing: var(--tracking-mid);
  font-weight: 600;
}

.body-lg {
  font-size: var(--text-body-lg);
  line-height: 1.1;
  letter-spacing: var(--tracking-mid);
}

.body {
  font-size: var(--text-body);
  line-height: var(--leading-normal);
}

.ui {
  font-size: var(--text-ui);
  line-height: var(--leading-normal);
  font-weight: 500;
}

.mono {
  font-family: var(--font-mono);
  font-size: var(--text-mono);
  line-height: var(--leading-loose);
  letter-spacing: var(--tracking-mono);
}

.h-hero {
  color: var(--color-white);
      /* line-height: 1.2 !important; */
  font-size: var(--text-hero);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
  font-weight: 600;
  padding-top: 100px;
  position: relative;
  z-index: 2;
}

.line-inner {
  transform: translateY(100px);
  will-change: transform, opacity;
}

.h-hero span {
  display: inline-block;
}

@media (max-width: 768px) {
  :root {
    --text-h1: 24px;
    --text-h2: 20px;
    --text-body-lg: 18px;
    --text-body: 14px;
    --text-ui: 14px;
    --text-mono: 14px;
    --text-caption: 13px;
    --text-hero: 40px;
  }

  .h-hero {
    padding-top: 20%;
    width: 100vw;

  }
}
/* 
@media (max-width: 768px) {
  .h-hero {

    line-height: 1.3;
    font-size: 2.5rem; 
    letter-spacing: -0.02em;
  }
  

  .h-hero > span {
    margin-bottom: 8px;
  }
} */